<%- include('../../partials/header') %>
<%- include('../../partials/navbar') %> 
<section class="container pt-5">
    <div class="row">


      <!-- Sidebar (User info + Account menu) -->
      <aside class="col-lg-3 col-md-4 border-end pb-5 mt-n5">
        <div class="position-sticky top-0">
          <div class="text-center pt-5">
            <div class="d-table position-relative mx-auto mt-2 mt-lg-4 pt-5 mb-3">
              <img
                src="/img/team/16.jpg"
                class="d-block rounded-circle"
                width="120"
                alt="John Doe"
              />
              <button
                type="button"
                class="btn btn-icon btn-light bg-white btn-sm border rounded-circle shadow-sm position-absolute bottom-0 end-0 mt-4"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Change picture"
              >
                <i class="bx bx-refresh"></i>
              </button>
            </div>
            <h2 class="h5 mb-1"><%=user.name%></h2>
            <p class="mb-3 pb-3"><%=user.email%></p>
            <button
              type="button"
              class="btn btn-secondary w-100 d-md-none mt-n2 mb-3"
              data-bs-toggle="collapse"
              data-bs-target="#account-menu"
            >
              <i class="bx bxs-user-detail fs-xl me-2"></i>
              Account menu
              <i class="bx bx-chevron-down fs-lg ms-1"></i>
            </button>
            <div
              id="account-menu"
              class="list-group list-group-flush collapse d-md-block"
            >
              <a
                href="/doctor-account"
                class="list-group-item list-group-item-action d-flex align-items-center "
              >
                <i class="bx bx-cog fs-xl opacity-60 me-2"></i>
                Détails du compte
              </a>
              <a
                href="/request"
                class="list-group-item list-group-item-action d-flex align-items-center active"
              >
                <i class="bx bx-bell fs-xl opacity-60 me-2"></i>
                Mes rendez-vous
              </a>
              <a
                href="/logout"
                class="list-group-item list-group-item-action d-flex align-items-center"
              >
                <i class="bx bx-log-out fs-xl opacity-60 me-2"></i>
                Se déconnecter
              </a>
            </div>
          </div>
        </div>
      </aside>


      <!-- Account details -->
      <div class="col-md-8 offset-lg-1 pb-5 mb-2 mb-lg-4 pt-md-5 mt-n3 mt-md-0">
        <div class="ps-md-3 ps-lg-0 mt-md-2 py-md-4">
            <!-- Basic info -->
            <h2 class="h5 text-primary mb-4">Informations du client : <h1><%= data.name %></h1> </h2>
            <div class="table-responsive">
                <table class="table">
                <thead>
                    <tr>
                    <th>ID</th>
                    <th>Nom et prénom</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Adresse</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row"><%= data.id %> </th>
                    <td><%= data.name %></td>
                    <td><%= data.email %></td>
                    <td><%= data.phone %> </td>
                    <td><%= data.address %> </td>
                </tr> 
                </tbody>
                </tbody>
                </table>
            </div>
        </div>
        <div class="ps-md-3 ps-lg-0 mt-md-2 py-md-4">

          <!-- Basic info -->
          <h2 class="h5 text-primary mb-4">Informations des client : <h1><%= data.name %></h1></h2>
          <div class="table-responsive">
              <table class="table">
              <thead>
                  <tr>
                  <th>Date de rendez-vous</th>
                  <th>Nom et prénom</th>
                  <th>Médecin</th>
                  <th></th>
                  <th></th>
                  </tr>
              </thead>
              <tbody>
                <% if(dataPat.length){ for(var i = 0; i< dataPat.length; i++) {%>
                  <% if(dataPat[i].status == true){ %>
                    <tr>
                        <th scope="row"><%= dataPat[i].date %> </th>
                        <td><%= dataPat[i].idpatient %></td>
                        <td><%= dataPat[i].medecin %></td>
                    </tr>
              <% } %>
              <% } %>
              <% } %>   
              </tbody>
              </tbody>
              </table>
          </div>
      </div>
      </div>
    </div>
  </section>
<%- include('../../partials/footer') %> 