<%- include('../partials/header') %>
<%- include('../partials/navbar') %>  

<section class="container" style="margin-top: 80px;">

    <!-- Breadcrumb -->
    <nav class="pt-4 mt-lg-3" aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item">
          <a href="/"><i class="bx bx-home-alt fs-lg me-1"></i>Accueil</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Réservation</li>
      </ol>
    </nav>


    <!-- Contact form -->
    <div class="bg-secondary rounded-3 py-5 px-3 px-sm-0 mb-xl-4">
      <form class="needs-validation row justify-content-center py-lg-3 py-xl-4" method="post" novalidate>
        <div class="col-xl-8 col-lg-9 col-md-10 col-sm-11">
          <h2 class="h1 pb-lg-1 mb-4">Remplir le formulaire</h2>
          <input type="hidden" value="<%=id%>" name="idpatient">
          <p class="fs-lg text-muted pb-lg-1 mb-4">Nous apprécions grandement votre confiance. Nos patients nous choisissent, nous et nos services, car ils savent que nous sommes les meilleurs. Nous offrons des soins de santé complets aux personnes ayant divers problèmes de santé.</p>
          <div class="row">
            <div class="col-sm-12 mb-4">
                <label for="select-input" class="form-label">Selectionnez un docteur</label>
                <select class="form-select" name="medecin" id="select-input">
                  <option>Choose option...</option>
                  <% if(data.length){
 
                    for(var i = 0; i< data.length; i++) {%> 
                      <% if(data[i].Role == "Doctor"){ %>
                        <option value="<%= data[i].name%>"><%= data[i].name%> / <%= data[i].specialite%></option>
                      <%}%>  
                    <%}%>

                  <%}%>
                </select>
            </div>
            <div class="col-sm-6 mb-4">
              <label for="date" class="form-label fs-base">Selectionnez la date et l'heure de rendez-vous</label>
              <input type="datetime-local" id="date" name="date" class="form-control form-control-lg" required>
              <div class="invalid-feedback">Please enter your date!</div>
            </div>
            <div class="col-12 mb-4">
              <label for="message" class="form-label fs-base">Message (Optionnel)</label>
              <textarea id="message" name="message" class="form-control form-control-lg" rows="4"></textarea>
              <div class="invalid-feedback">Please write your message!</div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-lg shadow-primary">Demander</button>  
        </div>
      </form>
    </div>
  </section>
<%- include('../partials/footer') %> 